$classes: #4EC9B0;
$new: #C586C0;
$variable: #9CDCFE;
$enum: #4FC1FF;
$regex: #d16969;
$regex-keyword: #d7ba7d;
$const: #569cd6;
$foreground: #e8ebf7;
$new-operator:#C586C0;
$string:#ce9178;
$number: #b5cea8;
$background: #151618;
